/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Containers
// --------------------------------------------------

.container-content-default {
  width: 100%;
  padding: (@grid-gutter-width / 2) 0;
}

.container-content-cta {
  font-size: 30px;
  letter-spacing: @letter-spacing;
  text-align: center;
  text-transform: uppercase;

  .container-content-default;
}
