/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Header sticky
// --------------------------------------------------

@header-sticky-navbar-height: 50px;

.page-header.header-sticky {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1020;

  .transition(box-shadow @panel-transition-speed);

  &.header-sticky-fixed {
    position: fixed;
    top: 0;
  }

  &.header-sticky-detached {
    .box-shadow(0px 0px @panel-shadow-blur @panel-shadow-spread @panel-shadow-color);

    @media screen and (min-width: @screen-sm-min) {
      .page-header-upper {
        display: none;
      }
    }

    .navbar {
      min-height: @header-sticky-navbar-height;
    }

    .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .wdidw-wrapper,
    .city-recycling-btn {
      height: @header-sticky-navbar-height;
    }
  }
}

.col-side-full-height.brand-sticky {
  vertical-align: middle;

  .page-header.header-sticky:not(.header-sticky-detached) & {
    display: none;
  }
}
