/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// What Do I Do With? toolbar
// --------------------------------------------------

.wdidw-wrapper {
  width: 100%;
  height: @navbar-height;
  display: block;
  position: relative;
  overflow: hidden;
}

.wdidw-btn-wrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.wdidw-btn {
  width: 100%;
  height: 100%;
  padding: 0 (@grid-gutter-width / 2);
  background: none;
  border: 0 none;
  color: @brand-success;
  font-size: (@font-size-base * 1.125);
  text-align: center;
  white-space: nowrap;

  .transition(color @link-transition-speed);

  @media screen and (min-width: @screen-xs-min) {
    font-size: (@font-size-base * 1.5);
  }

  @media screen and (min-width: @screen-sm-min) {
    text-align: left;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @white;
    text-decoration: none;

    .wdidw-animated-term {
      border-bottom-color: @white;
    }
  }

  .wdidw-animated-term {
    width: 5em;
    height: (@font-size-base * 1.25);
    display: inline-block;
    border-bottom: 2px solid @brand-success;
    color: @white;
    font-size: (@font-size-base * 1.125);
    text-align: center;
    text-transform: none;
    vertical-align: top;

    .transition(border-bottom-color @link-transition-speed);

    @media screen and (min-width: @screen-xs-min) {
      height: (@font-size-base * 1.75);
      font-size: (@font-size-base * 1.5);
    }
  }
}

.wdidw-search-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: @brand-success;

  .transition(top @link-transition-speed);

  &.active {
    top: 0;
  }
}

.wdidw-search-form {
  width: 100%;
  height: 100%;
  padding: (@font-size-base / 2) 0;
  color: @brand-primary;

  .input-group {
    height: 100%;

    input,
    .form-control,
    .btn {
      height: (@navbar-height - @font-size-base);
      display: block;
      padding: 4px 0;
      border: 0 none;
      background: none;
      color: @brand-primary;
      outline: none;

      // Force firefox to display inputs as full-height
      line-height: (@navbar-height - @font-size-base);

      .box-shadow(none);

      .fa {
        font-size: (@font-size-base * 2);
        padding: 2px 0;
      }
    }

    input[type="text"] {
      font-size: @font-size-large;
      padding: 0 @font-size-base;

      .placeholder(rgba(255,255,255,0.4));
    }

    .btn {
      .link-fx-nav(@brand-danger; @brand-danger);

      &.wdidw-search-form-submit {
        .link-fx-nav(@brand-info; @white);
      }
    }
  }
}

.wdidw-search-results-wrapper {
  width: 100%;
  position: relative;
  z-index: -1;
  padding: 0 (@grid-gutter-width / 2);
}

.wdidw-search-results-inner-wrapper {
  width: 100%;
  position: relative;
}

.wdidw-search-results-list {
  width: 100%;
  position: absolute;
  padding: 0;
  list-style: none;
  background: @white;
  border: 1px solid @gray-light;
  border-top: 0 none;
  color: @gray;
  text-transform: none;

  .box-shadow(0px 0px @panel-shadow-blur @panel-shadow-spread @panel-shadow-color);

  &:empty {
    display: none;
  }

  &:not(.active) {
    display: none;
  }

  > li {
    display: block;

    > a {
      display: block;
      padding: (@font-size-base / 2) (@grid-gutter-width / 2);

      .link-fx-nav(@brand-info; @brand-success);
    }

    &:not(:last-child) {
      > a {
        border-bottom: 1px solid @gray-lighter;
      }
    }
  }
}
