/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Header sticky
// --------------------------------------------------

@header-sticky-navbar-height: 50px;

.page-header.header-sticky {
  position: absolute;
  top: 0;
  left: 0;

  // Ensure z-index is greater than bootstrap dropdowns
  // and less than slideReveal panels
  z-index: 1020;

  .transition(box-shadow @panel-transition-speed);

  &.header-sticky-detached {
    position: fixed;
    top: 0;

    .box-shadow(0px 0px @panel-shadow-blur @panel-shadow-spread @panel-shadow-color);

    @media screen and (min-width: @screen-sm-min) {
      .page-header-upper {
        display: none;
      }
    }

    .navbar {
      min-height: @header-sticky-navbar-height;
    }

    .navbar-primary {
      min-height: (@header-sticky-navbar-height * 2);
    }

    .navbar-nav {
      height: 100%;

      > li {
        height: 100%;

        > a {
          height: 100%;
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }

    .col-side-full-height.brand-sticky {
      .brand {
        display: block;
      }
    }

    .wdidw-wrapper,
    .city-recycling-btn {
      height: @header-sticky-navbar-height;
    }

    .wdidw-search-form {
      .input-group {
        input,
        .form-control,
        .btn {
          font-size: @font-size-large;

          // Force firefox and chrome to display correct input height
          height: (@header-sticky-navbar-height - @font-size-base);
          line-height: (@header-sticky-navbar-height - @font-size-base);
        }

        .btn {
          padding: 0;

          .fa {
            font-size: @font-size-large;
          }
        }
      }
    }
  }
}

.col-side-full-height.brand-sticky {
  vertical-align: middle;

  .page-header.header-sticky:not(.header-sticky-detached) & {
    display: none;
  }

  .brand {
    display: none;
  }
}
