/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Header sticky
// --------------------------------------------------

.page-header.header-sticky {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  .transition(box-shadow @panel-transition-speed);

  &.header-sticky-fixed {
    position: fixed;
    top: 0;
  }

  &.header-sticky-detached {
    .box-shadow(0px @panel-shadow-offset @panel-shadow-blur @panel-shadow-spread @panel-shadow-color);
  }

  .page-header-upper-right {
    // display: none;
  }
}
