/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Header
// --------------------------------------------------

@navbar-toggle-size:           32px;
@navbar-toggle-spacing:        (@navbar-toggle-size / 4);
@navbar-sm-height:             90px;
@navbar-xs-padding-horizontal: (@em-base / 2);
@navbar-sm-padding-horizontal: (@grid-gutter-width / 2);
@navbar-height-enlarged-by:    (@navbar-sm-height - @navbar-height);

@navbar-height-upper:          (@navbar-height + 10px);


//
// Header basic
// --------------------------------------------------

.page-header {
  width: 100%;
  background: @brand-info;
  color: @white;
  font-size: @em-base;
  letter-spacing: (@em-base * 0.035);

  .login-link {
    font-size: @em-small;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
    padding-top: 7px;

    .link-fx-nav(darken(@brand-info, 15%); @brand-dark);
  }
}

.page-header-skip {
  position: absolute;
  top: (@font-size-base / 4);
  left: @navbar-sm-padding-horizontal;
}

.page-header-upper {
  height: @navbar-height-upper;
  padding: @navbar-xs-padding-horizontal;

  @media screen and (min-width: @screen-xs-min) {
    padding: @navbar-xs-padding-horizontal @navbar-sm-padding-horizontal;
  }

  @media screen and (min-width: @screen-sm-min) {
    height: @navbar-sm-height;
    padding: @em-base @navbar-sm-padding-horizontal;
  }

  @media screen and (min-width: @grid-float-breakpoint) {
    height: auto;
    padding-bottom: (@em-base / 2);
  }
}

.page-header-upper-content {
  width: 100%;
  position: relative;
}

.page-header-upper-right {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.navbar-first {
  display: none;
}

@media screen and (min-width: @grid-float-breakpoint) {
  .page-header-upper-right,
  .navbar-first {
    display: block;
  }
}

.page-header-social-links {
  float: right;

  .social-links(28px; 17px);

  > li {
    > a {
      .link-fx-btn(darken(@brand-info, 15%); @brand-dark);
    }
  }
}


//
// Navbar
// --------------------------------------------------

.navbar {
  min-height: @navbar-height;
  font-size: @em-base;
  letter-spacing: @letter-spacing;
  text-transform: uppercase;
}

.navbar-nav.navbar-primary {
  > li {

    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      max-width: 125px;
      display: inline-block;
      float: none;
      font-size: 0.875em;
      vertical-align: bottom;
    }

    > a {
      color: @white;

      .transition(color @link-transition-speed);

      &:before {
        width: 100%;
        height: 0;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: @white;
        content: '';

        .transition(
          height @link-transition-speed,
          background-color @link-transition-speed;
        );
      }

      &:hover,
      &:focus,
      &:active,
      &.active {
        &:before {
          height: 0.5em;
        }
      }

      &:hover,
      &:focus {
        color: @white;
      }

      &:active,
      &.active {
        color: @brand-dark;

        .transition(color 0s);
      }
    }
  }
}

.navbar-toggle {
  width: (@navbar-toggle-size * 1.5);
  height: (@navbar-toggle-size * 1.5);
  position: absolute;
  top: ((@navbar-height-upper - @navbar-toggle-size * 1.5) / 2 - @navbar-xs-padding-horizontal);
  right: -@navbar-toggle-spacing;
  margin: 0;
  padding: @navbar-toggle-spacing;
  border: 0 none;
  font-size: @navbar-toggle-size;
  line-height: @navbar-toggle-size;
  text-align: center;

  .link-fx-nav(darken(@brand-info, 15%); @brand-dark);

  @media (min-width: @screen-sm-min) {
    top: ((@navbar-sm-height - @navbar-toggle-size * 1.5) / 2 - @em-base);
  }
}


//
// WDIDW & Recycling in My Community
// --------------------------------------------------

.header-infobar {
  &.row-sm-full-height {
    > .col-main-full-height,
    > .col-side-full-height {
      white-space: nowrap;
      vertical-align: middle;
    }
  }
}

.city-recycling-btn {
  height: @navbar-height;
  padding: 0 @navbar-sm-padding-horizontal;
  background: @brand-success;
  border: 0 none;
  border-left: 2px solid @brand-primary;
  color: @brand-primary;
  text-transform: uppercase;

  .link-fx-color(@white; @white);
}
