/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Mobile menu and header styles
// --------------------------------------------------

@navbar-toggle-size: 32px;
@navbar-height-large-tablet: 90px;
@navbar-height-enlarged-by: (@navbar-height-large-tablet - @navbar-height);

@media screen and (max-width: @grid-float-breakpoint-max) {

  .navbar-nav {
    margin: 0;
  }

  .navbar-first,
  .navbar-left,
  .navbar-right,
  .page-header-upper-right,
  .navbar-globals,
  .mega-menu {
    display: none;
  }

  .mega-menu {
    overflow: hidden;
  }

  .page-header {
    .page-header-upper {
      height: @navbar-height;
      position: relative;
      padding-top: @font-size-base;
      padding-bottom: @font-size-base;

      @media (min-width: @screen-xs-min) {
        height: @navbar-height-large-tablet;
      }
    }
  }

  .page-header-upper-content {
    .navbar-toggle {
      width: (@navbar-toggle-size * 1.5);
      position: absolute;
      top: (-@navbar-toggle-size / 4);
      right: (-@navbar-toggle-size / 4);
      margin: 0;
      padding: (@navbar-toggle-size / 4);
      font-size: @navbar-toggle-size;

      @media (min-width: @screen-xs-min) {
        top: 0;
      }

      .link-fx-nav(darken(@brand-info, 15%); @brand-dark);

      > .fa {
        vertical-align: middle;
      }
    }
  }
}
