/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Mobile Menu and Header Styles
// --------------------------------------------------


@media (max-width: @screen-xs-max) {

  .navbar-nav {
    margin: 0;
  }

  .navbar-left,
  .navbar-right,
  .page-header-upper-right,
  .navbar-globals,
  .mega-menu {
    display: none;
  }

  .mega-menu {
    overflow: hidden;
  }

  .page-header {
    .page-header-upper {
      height: 90px;
      position: relative;
      padding-top: 17px;
    }
  }

  .brand .brand-logo-main {
    margin: 0 auto;
    width: 200px;
    height: auto;
  }

  .page-header-upper-content {
    .navbar-toggle {
      width: (@font-size-large * 2);
      position: absolute;
      top: 0;
      right: (-@font-size-base / 2);
      margin: 0;
      padding: (@font-size-base / 2);
      font-size: (@font-size-base * 2);

      .link-fx-nav(darken(@brand-info, 15%); @brand-dark);

      > .fa {
        vertical-align: middle;
      }
    }
  }
}
