/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Item search page
// --------------------------------------------------

.item-search {}

.item-search-col-left,
.item-search-col-right {
  padding: (@grid-gutter-width / 2);
}

.item-search-col-left  {
  background: @gray-lighter;
}

.item-search-col-right {
  background: @white;
}


//
// Item search query
// --------------------------------------------------

.item-search-query {
  padding-top: (@font-size-base * 2);
  padding-bottom: @font-size-base;
  border-bottom: 2px solid @gray-lighter;
  font-size: @font-size-base;

  > .item-search-query-entry {
    font-weight: bold;
  }
}


//
// Item filter list
// --------------------------------------------------

.item-filter-section {
  margin-bottom: @font-size-large;
}

.item-filter-list {
  padding: 0;
  list-style: none;

  > li {
    white-space: nowrap;

    > input[type="checkbox"] {
      margin-right: (@font-size-base / 2);
    }
  }

  > dt {
    margin-top: @font-size-base;
  }

  > dd {
    > button {
      background: none;
      border: 0 none;

      .link-effect(@brand-danger);
    }
  }
}


//
// Item filter city list
// --------------------------------------------------

.btn-group .dropdown-toggle.item-filter-city-button {
  background: inherit;
  border: 0 none;
  color: inherit;
  font-size: @font-size-large;

  .link-effect(@brand-info);

  .box-shadow(none);
}

.btn-group.open .dropdown-toggle.item-filter-city-button {
  background: inherit;
  border: 0 none;

  .box-shadow(none);
}

.dropdown-menu.item-filter-city-list {
  border-color: @gray;

  ul {
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;

    > li {
      > a {
        display: block;
        padding: (@font-size-base / 4) @font-size-base;
        color: inherit;

        .transition(background-color @link-transition-speed, color @link-transition-speed;);

        &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: @gray-lighter;
          color: @brand-info;
          text-decoration: none;
        }
      }
    }
  }
}

.item-filter-city-zip-wrapper {
  display: block;
  padding: (@font-size-base / 2) @font-size-base @font-size-base;
  border-bottom: 1px solid @gray-lighter;

  > label {
    .small-header;
  }

  > .form-control {
    margin: 0;
  }
}


//
// Item search results
// --------------------------------------------------

.item-search-results {
  padding: 0;
  list-style: none;
}

.item-search-result {
  padding: (@grid-gutter-width / 2) 0;
  border-bottom: 2px solid @gray-lighter;

  &:last-child {
    border-bottom: 0 none;
  }

  .col-main-full-height,
  .col-side-full-height {
    vertical-align: middle;
  }
}

.item-search-result-info {
  > .item-search-result-title {
    text-transform: uppercase;
  }

  > .item-search-result-types {
    font-weight: bold;
    text-transform: uppercase;
  }

  > .item-search-result-desc {}
}

.item-search-result-link {
  color: inherit;
  font-size: (@font-size-base * 3);

  .link-effect(@brand-info);
}


//
// Item types
// --------------------------------------------------

.item-type-label {
  &.item-type-home-recycling    { color: @ccswd-blue;    }
  &.item-type-dropoff-recycling { color: @ccswd-yellow;  }
  &.item-type-proper-disposal   { color: @ccswd-red;     }
  &.item-type-compost           { color: @ccswd-green-1; }
}
