/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Item search page
// --------------------------------------------------

.item-search {}

.item-search-col-left,
.item-search-col-right {
  padding: (@grid-gutter-width / 2);
}

.item-search-col-left  {
  background: @gray-lighter;
}

.item-search-col-right {
  background: @white;
}


//
// Item search query
// --------------------------------------------------

.item-search-query {
  padding-bottom: @font-size-base;
  border-bottom: 2px solid @gray-lighter;
  font-size: @font-size-base;

  > .item-search-query-entry {
    font-weight: bold;
  }
}


//
// Item filter list
// --------------------------------------------------

.item-filter-section {
  margin-bottom: @font-size-large;

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.item-filter-list {
  padding: 0;
  list-style: none;

  > li {
    white-space: nowrap;

    > input[type="checkbox"] {
      margin-right: (@font-size-base / 2);
    }
  }

  > dt {
    margin-top: @font-size-base;
  }
}

.item-filter-clear {
  padding: 0 (@font-size-base / 4);
  background: none;
  border: 0 none;

  .link-fx-nav(@brand-danger; @brand-danger);
}

.btn-item-filter-clear {
  width: 100%;
}


//
// Item filter city list
// --------------------------------------------------

.btn-group .dropdown-toggle.item-filter-city-btn {
  background: inherit;
  border: 0 none;
  font-size: @font-size-large;

  .link-fx-nav(@brand-info; @brand-success);

  .box-shadow(none);
}

.btn-group.open .dropdown-toggle.item-filter-city-btn {
  background: inherit;
  border: 0 none;

  .box-shadow(none);
}

.dropdown-menu.item-filter-city-list {
  border: 1px solid @gray-light;

  ul {
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;

    > li {
      > a {
        display: block;
        padding: (@font-size-base / 4) @font-size-base;
        color: inherit;

        .link-fx-nav(@brand-info; @brand-success);
      }
    }
  }
}

.item-filter-city-zip-wrapper {
  display: block;
  padding: (@font-size-base / 2) @font-size-base @font-size-base;
  border-bottom: 1px solid @gray-lighter;

  > label {
    .small-header;
  }

  > .form-control {
    margin: 0;
  }
}


//
// Item groups
// --------------------------------------------------

.item-group-entry {
  &:extend(.item-entry all);
}

.item-group-entry-link {
  &:extend(.item-entry-link all);
}


//
// Item group responsive sizes
// --------------------------------------------------

.item-group-entry {

  .item-figure {
    height: 125%;
    margin-right: 1em;
    margin-bottom: 2em;
    font-size: 0.75em;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }

    .item-icon,
    .item-link {
      margin: 0;
    }
  }

  @media screen and (max-width: @screen-md-max) {
    .item-figure {
      margin-right: 2em;

      .item-basics-figure-size(60px);

      .item-icon {
        border-width: 2px;
      }
    }

    .item-icon-size-search-row {
      .item-icon-size(60px);
    }
  }

  @media screen and (min-width: @screen-sm-min) {
    .item-figure {
      margin-right: 1em;

      .item-basics-figure-size(90px);

      .item-icon {
        border-width: 2px;
      }
    }

    .item-icon-size-search-row {
      .item-icon.item-icon-size-1;
    }
  }

  @media screen and (min-width: @screen-lg-min) {
    .item-figure {
      font-size: 1em;

      .item-basics-figure-size(120px);

      .item-icon {
        border-width: 4px;
      }
    }

    .item-icon-size-search-row {
      .item-icon.item-icon-size-2;
    }
  }
}


//
// City info
// --------------------------------------------------

.city-contact {
  .city-contact-title,
  .city-contact-info {
    line-height: 1.75;
  }

  .city-contact-title {
    margin: 0;
  }
}
