/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Item basics
// --------------------------------------------------

@item-basics-xs-min: 480px;
@item-basics-sm-min: 720px;
@item-basics-md-min: 900px;
@item-basics-lg-min: 1200px;
@item-basics-xl-min: 1680px;

@item-basics-breakpoint: @item-basics-sm-min;
@item-basics-breakpoint-max: (@item-basics-breakpoint - 1);

.item-basics {
  text-align: center;
}

.item-basics-cat,
.item-cat-selector {
  margin: 0 auto;
}

.item-basics-cat {

  .translate3d(0px; 0px; 0px); // Bugfix for Safari/webkit

  &[role="tabpanel"]:not(.active) {
    display: none;
  }
}

.item-basics-cat-box {
  position: relative;
  display: inline-block;
}

.item-basics-cat-row {
  // .translate3d(0; 0; -9999px);
}

.item-basics-cat-link {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


//
// Item basics typography
// --------------------------------------------------

.item-basics {
  font-size: 0.75em;

  @media screen and (min-width: @item-basics-md-min) {
    font-size: 0.875em;
  }

  @media screen and (min-width: @item-basics-lg-min) {
    font-size: 1em;
  }
}

.item-basics-subtitle {
  height: 3em;
  font-size: 1.25em;
}

@media screen and (min-width: @item-basics-sm-min) {
  .item-basics-subtitle {
    font-size: 1.5em;
  }
}


//
// Item basics icons
// --------------------------------------------------

.item-basics {
  .item-figure {
    height: 125%;
    margin-right: 2em;
    margin-bottom: 2em;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }

  .item-icon,
  .item-link {
    margin: 0;
  }
}


//
// Item basics selectors
// --------------------------------------------------

.item-cat-selector {
  margin-top: 2em;
  margin-bottom: 2em;

  > li {
    margin: 0 1em;

    > a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.item-cat-selector-opt {
  display: block;
  color: inherit;

  .item-color-key {
    background: none;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    &[data-item-key="home-recycling"]    { color: @ccswd-blue;    }
    &[data-item-key="dropoff-recycling"] { color: @ccswd-yellow;  }
    &[data-item-key="proper-disposal"]   { color: @ccswd-red;     }
    &[data-item-key="compost"]           { color: @ccswd-green-1; }
  }

  &.active {
    background: none;

    .item-color-key.item-color-key-home-recycling    { background: @ccswd-blue;    }
    .item-color-key.item-color-key-dropoff-recycling { background: @ccswd-yellow;  }
    .item-color-key.item-color-key-proper-disposal   { background: @ccswd-red;     }
    .item-color-key.item-color-key-compost           { background: @ccswd-green-1; }

    &[data-item-key="home-recycling"]    { border-color: @ccswd-blue;    }
    &[data-item-key="dropoff-recycling"] { border-color: @ccswd-yellow;  }
    &[data-item-key="proper-disposal"]   { border-color: @ccswd-red;     }
    &[data-item-key="compost"]           { border-color: @ccswd-green-1; }
  }
}


//
// Item basics responsive visibility
// --------------------------------------------------

@media screen and (min-width: @item-basics-breakpoint) {
  .item-basics-visible-mb,
  .item-basics-hidden-dk {
    display: none;
  }
}

@media screen and (max-width: @item-basics-breakpoint-max) {
  .item-basics-visible-dk,
  .item-basics-hidden-mb {
    display: none;
  }
}


//
// Item basics desktop
// --------------------------------------------------

.item-basics-dk-figure-size(@size) {
  width: (@size + 2 * @item-icon-border-width);
}

@media screen and (min-width: @item-basics-breakpoint) {
  .item-basics {
    .item-figure,
    .item-icon.item-icon-size-basics {
      width: 94px;
    }

    .item-icon.item-icon-size-basics {
      height: 94px;
      border-width: 2px;
    }

    @media (min-width: @item-basics-md-min) {
      .item-figure { .item-basics-dk-figure-size(120px); }
      .item-icon.item-icon-size-basics { .item-icon.item-icon-size-2; }
      .item-icon.item-icon-size-basics { border-width: 4px; }
    }

    @media (min-width: @item-basics-lg-min) {
      .item-figure { .item-basics-dk-figure-size(180px); }
      .item-icon.item-icon-size-basics { .item-icon.item-icon-size-3; }

      @media (min-width: (@item-basics-lg-min + 200)) {
        .item-figure { .item-basics-dk-figure-size(210px); }
        .item-icon.item-icon-size-basics { .item-icon.item-icon-size-4; }
      }
    }

    @media (min-width: @item-basics-xl-min) {
      .item-figure { .item-basics-dk-figure-size(270px); }
      .item-icon.item-icon-size-basics { .item-icon.item-icon-size-5; }
    }
  }

  .item-basics-body {
    margin-top: 3em;
  }

  .item-basics-footer {
    margin-bottom: 3em;
  }

  .item-basics-cat-link {
    display: none;
  }

  .item-cat-selector {
    > li {
      width: 15em;
      text-align: left;
    }
  }

  .item-cat-selector-opt {
    border: 2px solid @gray-lighter;
    border-radius: (@font-size-base * 1.5);

    .transition(border-color @link-transition-speed, color @link-transition-speed;);
  }
}


//
// Item basics mobile
// --------------------------------------------------

.get-trig-padding(@trig-height) {
  @trig-padding: (@trig-height * (2 / sqrt(3) - 1) / 2);
}

.set-trig-padding(@height) {
  .get-trig-padding(@height);

  .item-basics {
    .item-icon.item-icon-size-basics {
      width: @height;
      height: @height;
    }

    .item-figure {
      margin: 0;
      padding: 0 @trig-padding;
    }
  }

  .item-basics-cat-row {
    padding: (@trig-padding * 2) 0;
  }
}

@media screen and (max-width: @item-basics-breakpoint-max) {
  .item-basics {
    .item-figure {
      display: inline-block;
      margin: (@font-size-base / 4);
      opacity: 1;

      .transition(opacity @link-transition-speed);

      &.item-fade {
        opacity: 0;
      }
    }

    .item-icon.item-icon-size-basics {
      border-width: 2px;
    }
  }

  .set-trig-padding(64px);

  .item-basics-cat-row {
    width: 100%;
    font-size: 0;
    text-align: center;
    max-width: 240px;
  }

  @media (min-width: @item-basics-xs-min) {
    .set-trig-padding(94px);

    .item-basics-cat-row {
      max-width: 360px;
    }
  }

  .item-basics-body {
    margin: 3em 0 2em;
  }

  .item-basics-footer {
    margin: 0;
  }

  .item-cat-selector-opt {
    margin-top: 0;
  }
}


//
// Item basics icon animations
// --------------------------------------------------

@item-coin-delay-interval: 100ms;

.item-coin-delay(@i: 1; @length: 5) when (@i <= @length) {
  @delay: (@item-coin-delay-interval * (@i - 1));

  @transition1: @link-transition-speed ease @delay;
  @transition3: 0s ease (@delay + @item-coin-delay-interval * 3 / 2); // hide
  @transition2: 0s ease (@delay + @item-coin-delay-interval / 2); // show

  &:nth-child(@{i}) {
    -webkit-transition: -webkit-transform @transition1, opacity @transition2;
       -moz-transition: -moz-transform @transition1, opacity @transition2;
         -o-transition: -o-transform @transition1, opacity @transition2;
            transition: transform @transition1, opacity @transition2;
  }

  &.item-coin-flip:nth-child(@{i}) {
    -webkit-transition: -webkit-transform @transition1, opacity @transition3;
       -moz-transition: -moz-transform @transition1, opacity @transition3;
         -o-transition: -o-transform @transition1, opacity @transition3;
            transition: transform @transition1, opacity @transition3;
  }

  .item-coin-delay((@i + 1));
}

.item-coin {
  opacity: 1;

  &.item-coin-flip {
    opacity: 0;
  }

  @media screen and (min-width: @item-basics-breakpoint) {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    .transform-origin(center center);

    .rotateY(0deg);

    .item-coin-delay(1; 5);

    &.item-coin-flip {
      .rotateY(180deg);
    }
  }

  @media screen and (max-width: @item-basics-breakpoint-max) {
    .transition(opacity (@item-coin-delay-interval * 5));
  }
}
