/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "../variables.less";
@import "../mixins.less";


//
// JW Player custom skin
// --------------------------------------------------

@jw-color-primary:    @brand-info;
@jw-color-secondary:  @black;
@jw-color-rail-light: #666f82;
@jw-color-rail-dark:  #384154;

@jw-border:           1px solid @gray;

.jw-icon {
  font-family: 'jw-icons';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
  font-variant: normal;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.jw-skin-ccswd {
  .jw-title {
    height: 50%;
    padding-bottom: 27px;
    background: transparent;

    .jw-title-primary,
    .jw-title-secondary {
      min-height: initial;
      position: absolute;
      margin: 0;
      padding: 0 1.5em;
      font-family: @font-family-sans-serif;
      font-size: 2em;
      letter-spacing: @letter-spacing;
      line-height: 1.25;
      text-align: center;
      text-transform: uppercase;
    }

    .jw-title-primary {
      bottom: 50%;
    }

    .jw-title-secondary {
      top: 50%;
    }
  }

  .jw-background-color {
    background: @jw-color-secondary;
  }

  .jw-controlbar {
    border-top: @jw-border;
    height: 2.5em;
  }

  .jw-group {
    vertical-align: middle;
  }

  .jw-playlist {
    background-color: @black-transparent;
  }

  .jw-playlist-container {
    left: -43%;
    background-color: @black-transparent;

    .jw-option {
      border-bottom: 1px solid #444;

      &:hover,
      &.jw-active-option {
        background-color: @jw-color-secondary;
      }

      &:hover .jw-label {
        color: @jw-color-primary;
      }
    }

    .jw-icon-playlist {
      margin-left: 0;
    }

    .jw-label .jw-icon-play {
      color: @jw-color-primary;

      &:before {
        padding-left: 0;
      }
    }
  }

  .jw-tooltip-title {
    background-color: @jw-color-secondary;
    color: @white;
  }

  .jw-text {
      color: @white;
  }

  .jw-button-color {
    color: @white;

    &:hover {
      color: @jw-color-primary;

      .transition(color @link-transition-speed);
    }
  }

  .jw-toggle {
    color: @jw-color-primary;

    .transition(color @link-transition-speed);
  }

  .jw-toggle.jw-off {
    color: @white;
  }

  .jw-controlbar .jw-icon:before,
  .jw-text-elapsed,
  .jw-text-duration {
    padding: 0 .7em;
  }

  .jw-controlbar {
    .jw-icon-prev:before {
      padding-right: .25em;
    }

    .jw-icon-playlist:before {
      padding: 0 .45em;
    }

    .jw-icon-next:before {
      padding-left: .25em;
    }
  }

  .jw-icon-prev,
  .jw-icon-next {
    font-size: .7em;
  }

  .jw-icon-prev:before {
    border-left: 1px solid @gray;
  }

  .jw-icon-next:before {
    border-right: 1px solid @gray;
  }

  .jw-icon-display {
    color: @white;
  }

  .jw-icon-display:before {
    padding-left: 0;
  }

  .jw-display-icon-container {
    border-radius: 50%;
    border: @jw-border;
  }

  .jw-rail {
    background-color: @jw-color-rail-dark;
    box-shadow: none;
  }

  .jw-buffer {
    background-color: @jw-color-rail-light;
  }

  .jw-progress {
    background: @jw-color-primary;
  }

  .jw-knob {
    width: .6em;
    height: .6em;
    background-color: @white;
    box-shadow: 0 0 0 1px @black;
    border-radius: 1em;
  }

  .jw-slider-horizontal {
    .jw-slider-container {
      height: .95em;
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress {
      height: .2em;
      border-radius: 0;
    }

    .jw-knob {
      top: -0.2em;
    }

    .jw-cue {
      top: -0.05em;
      width: .3em;
      height: .3em;
      background-color: @white;
      border-radius: 50%;
    }
  }

  .jw-slider-vertical {
    .jw-rail,
    .jw-buffer,
    .jw-progress {
      width: .2em;
    }

    .jw-knob {
      margin-bottom: -0.3em;
    }
  }

  .jw-volume-tip {
    width: 100%;
    left: -45%;
    padding-bottom: .7em;
  }

  .jw-text-duration {
    color: @jw-color-rail-light;
  }

  .jw-controlbar-right-group {
    .jw-icon-tooltip:before,
    .jw-icon-inline:before {
      border-left: 1px solid @gray;
    }

    .jw-icon-inline:first-child:before {
      border: 0;
    }
  }

  .jw-dock .jw-dock-button {
    border-radius: 50%;
    border: @jw-border;
  }

  .jw-dock .jw-overlay {
    border-radius: 2.5em;
  }

  .jw-icon-tooltip .jw-active-option {
    background-color: @jw-color-primary;
    color: @jw-color-secondary;
  }

  .jw-icon-volume {
    min-width: 2.6em;
  }

  .jw-time-tip,
  .jw-menu,
  .jw-volume-tip,
  .jw-skip {
    border: @jw-border;
  }

  .jw-time-tip {
    padding: .2em;
    bottom: 1.3em;
  }

  .jw-menu,
  .jw-volume-tip {
    bottom: .24em;
  }

  .jw-skip {
    padding: .4em;
    border-radius: 1.75em;

    .jw-text,
    .jw-icon-inline {
      color: @white;
      line-height: 1.75em;
    }

    &.jw-skippable:hover .jw-text,
    &.jw-skippable:hover .jw-icon-inline {
      color: @jw-color-primary;
    }
  }

  &.jw-flag-touch {
    .jw-controlbar .jw-icon:before,
    .jw-text-elapsed,
    .jw-text-duration {
      padding: 0 .35em;
    }

    .jw-controlbar {
      .jw-icon-prev:before {
        padding: 0 .125em 0 .7em;
      }

      .jw-icon-next:before {
        padding: 0 .7em 0 .125em;
      }

      .jw-icon-playlist:before {
        padding: 0 .225em;
      }
    }
  }
}
