/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Locations
// --------------------------------------------------

.locations {
  padding: 0 (@grid-gutter-width / 4);
  list-style: none;

  > li {
    display: inline-block;
    float: none;
    margin-right: -0.25em; // Ignore spaces between blocks
    padding: 0 (@grid-gutter-width / 4);
    vertical-align: top;
  }
}

.location {
  font-size: 0.875em;

  .location-title,
  .location-address {
    line-height: 1.75;
  }

  .location-title {
    margin: 0;
    font-weight: bold;
    text-transform: none;
  }

  .location-desc {
    line-height: 1.5;
  }
}


//
// Drop-offs
// --------------------------------------------------

.locations.locations-dropoffs {
  > li {
    width: 240px;
  }
}

.location {
  .location-dropoff {
    line-height: 1.25em;
    margin-bottom: 1.25em;
  }
}
