/*!
 * CuyahogaRecycles.org theme
 */

//
// Links
// --------------------------------------------------

.link-effect(@color: @brand-info) {
  cursor: pointer;

  .transition(color @link-transition-speed);

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @color;
    text-decoration: none;
  }
}
