/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Panel - Item filter
// --------------------------------------------------

.slidereveal-panel#panel-item-filter {
  background: @gray-lighter;

  .panel-head {
    background: @gray-light;
  }

  .item-filter-list {
    > li,
    > dd {
      line-height: 2;
    }
  }
}
