/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Panel - Mobile Menu
// --------------------------------------------------

@sub-menu-toggle-border-width:  2px;
@sub-menu-toggle-size:          (24px + 2 * @sub-menu-toggle-border-width);
@sub-menu-toggle-color-default: darken(@brand-info, 15%);
@sub-menu-toggle-color-active:  @brand-danger;

.slidereveal-panel#panel-menu {
  right: -100%;
  color: @white;
  background: @brand-dark;

  .panel-body-main {
    overflow-y: scroll;
  }

  hr {
    margin: @slidereveal-panel-line-spacing 0;
    border-top: 2px solid @white;
  }

  .nav,
  .dropdown-menu {
    > li {
      position: relative;

      &:extend(.clearfix all);

      > a {
        margin: 0.875em 0;
        padding: 0;
        margin-left: (@em-base * 3);
        display: inline-block;
        white-space: normal;

        &:extend(.link-fx-nav-default all);

        &:hover,
        &:focus {
          background: none;

          &:before {
            display: none;
          }
        }

        &.sub-menu-toggle {

          width: @sub-menu-toggle-size;
          height: @sub-menu-toggle-size;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          margin: 10px;
          margin-left: 0;
          overflow: hidden;
          border: @sub-menu-toggle-border-width solid @sub-menu-toggle-color-default;
          border-radius: 50%;
          color: @sub-menu-toggle-color-default;
          font-size: 18px;
          text-align: center;

          .transition(border-color @link-transition-speed);

          .fa {
             width: (@sub-menu-toggle-size - 2 * @sub-menu-toggle-border-width);
             height: (@sub-menu-toggle-size - 2 * @sub-menu-toggle-border-width);
             line-height: (@sub-menu-toggle-size - 2 * @sub-menu-toggle-border-width);
             vertical-align: middle;

            .transition(all @link-transition-speed);
          }

          &.open {
            border-color: @sub-menu-toggle-color-active;
            color: @sub-menu-toggle-color-active;

            .fa {
              .rotate(45deg);
            }
          }
        }
      }
    }
  }

  .nav {
    // Make room for scroll bar
    margin-right: -17px;
  }

  .dropdown {
    > a {
      font-size: @font-size-base;
      text-transform: uppercase;
    }

    .dropdown-menu {
      width: 100%;
      position: relative;
      top: 100%;
      left: 0;
      margin: 0 0 @slidereveal-panel-line-spacing;
      padding: 0;
      padding-left: (@em-base * 1.25);
      background: none;
      border: 0 none;

      .box-shadow(none);
    }

    &.open {
      .dropdown-toggle {
        &:after {
          display: none;
        }
      }
    }
  }

  .panel-social-links {
    margin: (@em-base * 2) 0;

    &:extend(.social-links all);

    > li {
      > a {
        @social-link-size: 40px;
        width: @social-link-size;
        height: @social-link-size;
        line-height: (@social-link-size - 4px);

        .link-fx-btn(@brand-info; @brand-success);
      }
    }
  }

  .search-container {
    color: @brand-dark;

    input[type="text"] {
      background: @white;
      color: @brand-info;

      .placeholder(@gray-light);
    }

    .search-btn {
      .link-fx-nav(@brand-success; @brand-success);
    }
  }

  .city-recycling-btn,
  .item-filter-bar {
    width: 100%;
    height: @slidereveal-panel-bar-height;
    margin: 0;
    padding: @slidereveal-panel-padding-vertical @slidereveal-panel-padding-horizontal;
    border: 0 none;
    font-size: 14px;
    text-align: left;
  }

  .item-filter-bar {
    color: @gray;
  }

  .item-filter-panel-open {
    height: 100%;
  }
}
