/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Panel - Recycling in My Community
// --------------------------------------------------

.slidereveal-panel#panel-community {
  z-index: (@slidereveal-z-index-base + 2);
  background: @brand-success;
  color: @brand-primary;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid darken(@brand-success, 5%);

      &:last-child {
        border: 0 none;
      }

      > a {
        margin: 5px 0;
        padding: 5px 0;
        display: block;

        .link-fx-nav(@white; @brand-info);
      }
    }
  }

  .btn-hollow-white {
    background: none;
    width: 100%;
    border-color: fade(@white, 30%);

    &:hover,
    &:focus,
    &:active,
    &.active {
      background: fade(@white, 10%);
      color: @white;
    }
  }

  .search-container {
    color: @brand-primary;

    input[type="text"] {
      background: @white;
      color: @brand-primary;

      .placeholder(@gray-light);
    }

    .search-btn {
      .link-fx-nav(@brand-success; @brand-success);
    }
  }
}
