/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Panel - Mobile Menu
// --------------------------------------------------

.slidereveal-panel#panel-menu {
  color: @white;
  background: @brand-dark;

  hr {
    margin: @slidereveal-panel-line-spacing 0;
    border-top: 2px solid @white;
  }

  .nav,
  .sub-menu {
    > li {
      > a {
        text-transform: uppercase;

        .link-fx-nav(@brand-info; @brand-success);

        &:hover,
        &:focus {
          background: none;

          &:before {
            display: none;
          }
        }

        &.selected {
          color: @brand-success;

          .fa {
            color: @brand-danger;

            .rotateZ(45deg);
          }
        }

        .fa {
          position: relative;
          top: -3px;
          margin-left: (@font-size-base / 2);
          color: darken(@brand-info, 10%);
          font-size: @font-size-small;

          .transition(all @link-transition-speed);
        }
      }
    }
  }

  .dropdown {

    > a {
      font-size: @font-size-h5;
    }

    .dropdown-menu {
      width: 100%;
      position: relative;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 0;
      background: none;
      border: 0 none;

      .box-shadow(none);
    }

    .sub-menu {
      margin: 0 0 @slidereveal-panel-line-spacing;

      > li {
        padding-left: (@slidereveal-panel-padding-horizontal / 2);
        margin: @slidereveal-panel-line-spacing 0;

        > a {
          display: block;
          padding: 0;
          font-size: @font-size-base;
          line-height: 1.25;
          clear: both;
          white-space: normal;

          .fa {
            top: 0;
          }
        }
      }
    }

    &.open {
      .dropdown-toggle {
        &:after {
          display: none;
        }
      }
    }
  }

  .panel-social-links {
    margin-top: 32px;

    &:extend(.social-links all);

    > li {
      > a {
        @social-link-size: 40px;
        width: @social-link-size;
        height: @social-link-size;
        line-height: (@social-link-size - 4px);

        .link-fx-btn(@brand-info; @brand-success);
      }
    }
  }

  .city-recycling-button {
    height: @slidereveal-panel-bar-height;
    padding: @slidereveal-panel-padding-vertical @slidereveal-panel-padding-horizontal;
    border: 0 none;
    font-size: 14px;
    text-align: left;
  }

  .search-container {
    input[type="text"] {
      background: @white;
      color: @brand-info;

      .placeholder(@gray-light);
    }

    button {
      color: @brand-info;
    }
  }
}
