/*!
 * CuyahogaRecycles.org theme
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Global
// --------------------------------------------------

body,
input, textarea, keygen, select, button {
  letter-spacing: 0.035em;
}


//
// Utilities
// --------------------------------------------------

.text-small {
  font-size: @font-size-small;
}

.text-large {
  font-size: @font-size-large;
}


//
// Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: @letter-spacing;
}


//
// Links
// --------------------------------------------------

.container-link > a {
  white-space: nowrap;
}

//
// Recycling color key
// --------------------------------------------------

.text-home-recycling    { color: @ccswd-blue;    }
.text-dropoff-recycling { color: @ccswd-yellow;  }
.text-proper-disposal   { color: @ccswd-red;     }
.text-compost           { color: @ccswd-green-1; }


//
// Content
// --------------------------------------------------

.block-content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: (@font-size-base * 2);
    margin-bottom: @font-size-base;
    font-weight: bold;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: @font-size-base;
    line-height: 1.5;
  }

  img {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: @font-size-base;
  }

  // &.container-content-article {
  //   a {
  //     &:before { content: '('; }
  //     &:after  { content: ')'; }
  //   }
  //
  //   .item-entries a {
  //     &:before { content: ''; }
  //     &:after  { content: ''; }
  //   }
  // }

  .article-title {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .article-divider {
    margin-top: (@font-size-base * 1.5);
    margin-bottom: (@font-size-base * 2);
    border-top: 2px solid @gray;
  }

  .block-divider {
    margin: 0;
    border-top: 2px solid @gray-lighter;
  }

  .col-main-full-height,
  .col-side-full-height {
    vertical-align: top;
  }

  .item-icon,
  .item-link {
    margin-top: @font-size-base;
    margin-bottom: (@font-size-base * 2);
  }

  .item-basic-info {
    margin-bottom: @grid-gutter-width;
  }

  .item-basic-title {
    font-weight: bold;
    margin: 0;
  }

  .item-basic-type {
    font-size: @font-size-base;
    margin: 0;
  }
}
